/* Defining color variable */


.card-color {
    border-radius: 0.5rem;
    background: linear-gradient(334deg, var(--color-light-primary) 7.56%, var(--color-primary) 49.52%, var(--color-lightest-primary) 130.63%);
}

.hybrid-heading {
    font-family: "Josefin Sans", sans-serif;
}

/* custom.css */
.custom-button {
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: var(--color-light-primary);
}

.bg-blur {
    width: 63.28256rem;
    height: 68.75rem;
    transform: rotate(-21.328deg);
    flex-shrink: 0;
    fill: conic-gradient(from 126deg at 50.62% 50%, rgba(255, 255, 255, 0.00) 52.55991339683533deg, var(--color-primary) 182.5038743019104deg, rgba(255, 255, 255, 0.53) 360deg);
    filter: blur(96px);
}

.choose-plan:hover {
    color: var(--color-primary);
}