.email-hover {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.email-hover:hover {
  white-space: normal;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.showBox {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.144);
  z-index: 1000;
}